.cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

.card{
  width: 300px;
  height: 200px;
  margin:30px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight:600;

}
